body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-gap: 5px;
}

.block {
    padding: 5px;
    color: white;
    font-size: 4em;
    font-weight: bold;
    text-align: center;

}
.block.block1{
    grid-area: 1/1/2/4;
    background-color: purple;
}

.block.block2{
    grid-area: 2/1/3/4;
    background-color: darkslateblue;
}

.block.block3{
    grid-area: 3/1/4/2;
    background-color: cornflowerblue;
}

.block.block4{
    grid-area: 3/2/4/4;
    background-color: lightblue;
}

@media screen and(max-width: 992px){
    body{

        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;

    }



    .block.block1{
        grid-area: 1/1/2/4;
        background-color: purple;
    }

    .block.block3{
        grid-area: 2/1/3/4;
        background-color: darkslateblue;
    }

    .block.block2{
        grid-area: 3/1/4/4;
        background-color: cornflowerblue;
    }

    .block.block4{
        grid-area: 4/1/5/5;
        background-color: lightblue;
    }

}

@media screen and(max-width: 772px){
    body{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto auto;

    }



    .block.block2{
        grid-area: 1/1/2/4;
        background-color: purple;
    }

    .block.block1{
        grid-area: 2/1/3/4;
        background-color: darkslateblue;
    }

    .block.block3{
        grid-area: 3/1/4/2;
        background-color: cornflowerblue;
    }

    .block.block4{
        grid-area: 4/1/4/4;
        background-color: lightblue;
    }

}

